<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <h1>file upload</h1> 
    <br>
    <form action="/fileupload" method='post' enctype="multipart/form-data">
    <label><b>single file Upload <b></label><br><br>
        <input type="file" name="file" />
        <br>
       <button type="submit">Upload</button>
    </form>
</body>
</html>