<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>upload</title>
</head>
<body>
   <h1>file upload</h1> 
   <br>
   <form action="/fileuploadm" method='post' enctype="multipart/form-data">
   <label><b>multiple file Upload <b></label><br><br>
   <input type="file" name="filem" multiple/>
   <br>
   <button type="submit">Upload</button>

</form>
</body>
</html>